{
    "openapi": "3.0.0",
    "info": {
        "title": "Horoscope API Documentation",
        "version": "1.0.0",
        "description": "## Indexer for multiple Cosmos Network \n\n### How to use\n\nSelect server Horoscope if use Horoscope API\n\nSelect server LCD if use Legacy API"
    },
    "servers": [
        {
            "url": "https://horoscope.aura.network/api",
            "description": "Horoscope "
        },
        {
            "url": "https://lcd.osmosis.zone",
            "description": "Osmosis Mainnet LCD"
        },
        {
            "url": "https://lcd.euphoria.aura.network",
            "description": "Aura Euphoria LCD"
        },
        {
            "url": "https://cosmos-lcd.quickapi.com",
            "description": "Cosmos Mainnet LCD"
        }
    ],
    "paths": {
        "/v1/account-info": {
            "get": {
                "tags": [
                    "Account Info"
                ],
                "summary": "Get information of an address",
                "description": "Get information of an address",
                "parameters": [
                    {
                        "in": "query",
                        "name": "address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Address of account"
                    },
                    {
                        "in": "query",
                        "name": "chainId",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "euphoria-1",
                                "osmosis-1",
                                "cosmoshub-4"
                            ]
                        },
                        "description": "Chain Id of network need to query",
                        "example": "euphoria-1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "account_auth": {
                                                    "type": "object",
                                                    "properties": {
                                                        "result": {
                                                            "type": "object",
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string",
                                                                    "example": "cosmos-sdk/BaseAccount"
                                                                },
                                                                "value": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "address": {
                                                                            "type": "string",
                                                                            "example": "aura123123123123123123"
                                                                        },
                                                                        "public_key": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "type": {
                                                                                    "type": "string",
                                                                                    "example": "tendermint/PubKeySecp256k1"
                                                                                },
                                                                                "value": {
                                                                                    "type": "string",
                                                                                    "example": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                                                                                }
                                                                            }
                                                                        },
                                                                        "account_number": {
                                                                            "type": "string",
                                                                            "example": "10"
                                                                        },
                                                                        "sequence": {
                                                                            "type": "string",
                                                                            "example": "10"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "height": {
                                                            "type": "string",
                                                            "example": "100"
                                                        }
                                                    }
                                                },
                                                "address": {
                                                    "type": "string",
                                                    "example": "aura123123123123123123123"
                                                },
                                                "account_balances": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "denom": {
                                                                "type": "string",
                                                                "example": "aura"
                                                            },
                                                            "amount": {
                                                                "type": "string",
                                                                "example": "10000000"
                                                            }
                                                        }
                                                    }
                                                },
                                                "account_delegations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "delegations": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "delegator_address": {
                                                                        "type": "string",
                                                                        "example": "aura123123123123123123"
                                                                    },
                                                                    "validator_address": {
                                                                        "type": "string",
                                                                        "example": "auravaloper123123123123"
                                                                    },
                                                                    "shares": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    }
                                                                }
                                                            },
                                                            "balance": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "denom": {
                                                                        "type": "string",
                                                                        "example": "uaura"
                                                                    },
                                                                    "amount": {
                                                                        "type": "string",
                                                                        "example": "1000000"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "account_redelegations": {
                                                    "type": "object",
                                                    "properties": {
                                                        "redelegation": {
                                                            "type": "object",
                                                            "properties": {
                                                                "delegator_address": {
                                                                    "type": "string",
                                                                    "example": "aura123123123123123123123"
                                                                },
                                                                "validator_src_address": {
                                                                    "type": "string",
                                                                    "example": "auravaloper123123123123123"
                                                                },
                                                                "validator_dst_address": {
                                                                    "type": "string",
                                                                    "example": "auravaloper123123123123123"
                                                                }
                                                            }
                                                        },
                                                        "entries": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "redelegation_entry": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "creation_height": {
                                                                                "type": "string",
                                                                                "example": "100000"
                                                                            },
                                                                            "completion_time": {
                                                                                "type": "string",
                                                                                "example": "2022-09-13T09:23:48.195Z"
                                                                            },
                                                                            "initial_balance": {
                                                                                "type": "string",
                                                                                "example": "1000000"
                                                                            },
                                                                            "shares_dst": {
                                                                                "type": "string",
                                                                                "example": "1000000"
                                                                            }
                                                                        }
                                                                    },
                                                                    "balance": {
                                                                        "type": "string",
                                                                        "example": "1000000"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "account_spendable_balances": {
                                                    "type": "object",
                                                    "properties": {
                                                        "redelegation": {
                                                            "type": "object",
                                                            "properties": {
                                                                "denom": {
                                                                    "type": "string",
                                                                    "example": "uaura"
                                                                },
                                                                "amount": {
                                                                    "type": "string",
                                                                    "example": "10000000000"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "account_unbonding": {
                                                    "type": "object",
                                                    "properties": {
                                                        "delegator_address": {
                                                            "type": "string",
                                                            "example": "aura123123123123"
                                                        },
                                                        "validator_address": {
                                                            "type": "string",
                                                            "example": "auravaloper123123123"
                                                        },
                                                        "entries": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "creation_height": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    },
                                                                    "completion_time": {
                                                                        "type": "string",
                                                                        "example": "2022-09-13T09:23:12.018Z"
                                                                    },
                                                                    "initial_balance": {
                                                                        "type": "string",
                                                                        "example": "100000000"
                                                                    },
                                                                    "balance": {
                                                                        "type": "string",
                                                                        "example": "100000000"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "account_delegate_rewards": {
                                                    "type": "object",
                                                    "properties": {
                                                        "rewards": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "denom": {
                                                                        "type": "string",
                                                                        "example": "uaura"
                                                                    },
                                                                    "amount": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "total": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "denom": {
                                                                        "type": "string",
                                                                        "example": "uaura"
                                                                    },
                                                                    "amount": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "ValidationError"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Parameters validation error!"
                                        },
                                        "code": {
                                            "type": "number",
                                            "example": 422
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "example": "required"
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "example": "The 'chainid' field is required."
                                                    },
                                                    "field": {
                                                        "type": "string",
                                                        "example": "chainid"
                                                    },
                                                    "nodeID": {
                                                        "type": "string",
                                                        "example": "node1"
                                                    },
                                                    "action": {
                                                        "type": "string",
                                                        "example": "v1.block.chain"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/account-info/delegations": {
            "get": {
                "tags": [
                    "Account Info"
                ],
                "summary": "Get delegation information of an address",
                "description": "Get delegation information of an address",
                "parameters": [
                    {
                        "in": "query",
                        "name": "address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Address of account"
                    },
                    {
                        "in": "query",
                        "name": "chainId",
                        "required": true,
                        "schema": {
                            "enum": [
                                "euphoria-1",
                                "osmosis-1",
                                "cosmoshub-4"
                            ],
                            "type": "string"
                        },
                        "description": "Chain Id of network need to query",
                        "example": "euphoria-1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "address": {
                                                    "type": "string",
                                                    "example": "aura123123123123123123123"
                                                },
                                                "account_balances": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "denom": {
                                                                "type": "string",
                                                                "example": "aura"
                                                            },
                                                            "amount": {
                                                                "type": "string",
                                                                "example": "10000000"
                                                            }
                                                        }
                                                    }
                                                },
                                                "account_delegations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "delegations": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "delegator_address": {
                                                                        "type": "string",
                                                                        "example": "aura123123123123123123"
                                                                    },
                                                                    "validator_address": {
                                                                        "type": "string",
                                                                        "example": "auravaloper123123123123"
                                                                    },
                                                                    "shares": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    }
                                                                }
                                                            },
                                                            "balance": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "denom": {
                                                                        "type": "string",
                                                                        "example": "uaura"
                                                                    },
                                                                    "amount": {
                                                                        "type": "string",
                                                                        "example": "1000000"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "account_delegate_rewards": {
                                                    "type": "object",
                                                    "properties": {
                                                        "rewards": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "denom": {
                                                                        "type": "string",
                                                                        "example": "uaura"
                                                                    },
                                                                    "amount": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "total": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "denom": {
                                                                        "type": "string",
                                                                        "example": "uaura"
                                                                    },
                                                                    "amount": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "ValidationError"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Parameters validation error!"
                                        },
                                        "code": {
                                            "type": "number",
                                            "example": 422
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "example": "required"
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "example": "The 'chainid' field is required."
                                                    },
                                                    "field": {
                                                        "type": "string",
                                                        "example": "chainid"
                                                    },
                                                    "nodeID": {
                                                        "type": "string",
                                                        "example": "node1"
                                                    },
                                                    "action": {
                                                        "type": "string",
                                                        "example": "v1.block.chain"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/account-info/stake": {
            "get": {
                "tags": [
                    "Account Info"
                ],
                "summary": "Get account stake info",
                "description": "Get account stake info",
                "parameters": [
                    {
                        "in": "query",
                        "name": "chainId",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "euphoria-1",
                                "osmosis-1",
                                "cosmoshub-4"
                            ]
                        },
                        "description": "Chain Id of network need to query",
                        "example": "euphoria-1"
                    },
                    {
                        "in": "query",
                        "name": "address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Address need to query"
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Delegations",
                                "Unbondings",
                                "Redelegations",
                                "Vestings"
                            ]
                        },
                        "description": "Type of stake need to query"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "default": 10
                        },
                        "description": "Limit number of data returned"
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "default": 0
                        },
                        "description": "Number of data to skip"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "account_unbonding": {
                                                    "type": "object",
                                                    "properties": {
                                                        "delegator_address": {
                                                            "type": "string",
                                                            "example": "aura123123123123"
                                                        },
                                                        "validator_address": {
                                                            "type": "string",
                                                            "example": "auravaloper123123123"
                                                        },
                                                        "entries": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "creation_height": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    },
                                                                    "completion_time": {
                                                                        "type": "string",
                                                                        "example": "2022-09-13T09:23:12.018Z"
                                                                    },
                                                                    "initial_balance": {
                                                                        "type": "string",
                                                                        "example": "100000000"
                                                                    },
                                                                    "balance": {
                                                                        "type": "string",
                                                                        "example": "100000000"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "ValidationError"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Parameters validation error!"
                                        },
                                        "code": {
                                            "type": "number",
                                            "example": 422
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "example": "required"
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "example": "The 'chainid' field is required."
                                                    },
                                                    "field": {
                                                        "type": "string",
                                                        "example": "chainid"
                                                    },
                                                    "nodeID": {
                                                        "type": "string",
                                                        "example": "node1"
                                                    },
                                                    "action": {
                                                        "type": "string",
                                                        "example": "v1.account-info"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/account-statistics": {
            "get": {
                "tags": [
                    "AuraScan Statistics"
                ],
                "summary": "Get top accounts data",
                "description": "Get top accounts data",
                "parameters": [
                    {
                        "in": "query",
                        "name": "chainId",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "euphoria-1",
                                "osmosis-1",
                                "cosmoshub-4"
                            ]
                        },
                        "description": "Chain Id of network need to query",
                        "example": "euphoria-1"
                    },
                    {
                        "in": "query",
                        "name": "field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TXS_SENT",
                                "TXS_RECEIVED",
                                "AMOUNT_SENT",
                                "AMOUNT_RECEIVED"
                            ]
                        },
                        "description": "Account's field to query"
                    },
                    {
                        "in": "query",
                        "name": "dayRange",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "enum": [
                                "1",
                                "3",
                                "7"
                            ]
                        },
                        "description": "Day limit to query"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "required": true,
                        "schema": {
                            "type": "number"
                        },
                        "description": "Number of records returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Top Statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successful"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "address": {
                                                        "type": "string",
                                                        "example": "aura1s9z065kv897was45gel6wxjcddu73fmh4qwmcu"
                                                    },
                                                    "per_day": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "total_sent_tx": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "amount": {
                                                                            "type": "number",
                                                                            "example": 100
                                                                        },
                                                                        "percentage": {
                                                                            "type": "number",
                                                                            "example": 30.45
                                                                        }
                                                                    }
                                                                },
                                                                "total_received_tx": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "amount": {
                                                                            "type": "number",
                                                                            "example": 100
                                                                        },
                                                                        "percentage": {
                                                                            "type": "number",
                                                                            "example": 30.45
                                                                        }
                                                                    }
                                                                },
                                                                "total_sent_amount": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "amount": {
                                                                            "type": "number",
                                                                            "example": 100
                                                                        },
                                                                        "percentage": {
                                                                            "type": "number",
                                                                            "example": 30.45
                                                                        }
                                                                    }
                                                                },
                                                                "total_received_amount": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "amount": {
                                                                            "type": "number",
                                                                            "example": 100
                                                                        },
                                                                        "percentage": {
                                                                            "type": "number",
                                                                            "example": 30.45
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "one_day": {
                                                        "type": "object",
                                                        "properties": {
                                                            "total_sent_tx": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_received_tx": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_sent_amount": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_received_amount": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "three_days": {
                                                        "type": "object",
                                                        "properties": {
                                                            "total_sent_tx": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_received_tx": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_sent_amount": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_received_amount": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "seven_days": {
                                                        "type": "object",
                                                        "properties": {
                                                            "total_sent_tx": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_received_tx": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_sent_amount": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            },
                                                            "total_received_amount": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "amount": {
                                                                        "type": "number",
                                                                        "example": 100
                                                                    },
                                                                    "percentage": {
                                                                        "type": "number",
                                                                        "example": 30.45
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "ValidationError"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Parameters validation error!"
                                        },
                                        "code": {
                                            "type": "number",
                                            "example": 422
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "example": "required"
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "example": "The 'chainid' field is required."
                                                    },
                                                    "field": {
                                                        "type": "string",
                                                        "example": "chainid"
                                                    },
                                                    "nodeID": {
                                                        "type": "string",
                                                        "example": "node1"
                                                    },
                                                    "action": {
                                                        "type": "string",
                                                        "example": "v1.block.chain"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/account-unbonds": {
            "get": {
                "tags": [
                    "Account Info"
                ],
                "summary": "Get account undelegations",
                "description": "Get account undelegations",
                "parameters": [
                    {
                        "in": "query",
                        "name": "chainid",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "euphoria-1",
                                "osmosis-1",
                                "cosmoshub-4"
                            ]
                        },
                        "description": "Chain Id of network need to query",
                        "example": "euphoria-1"
                    },
                    {
                        "in": "query",
                        "name": "address",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Address need to query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "account_unbonding": {
                                                    "type": "object",
                                                    "properties": {
                                                        "delegator_address": {
                                                            "type": "string",
                                                            "example": "aura123123123123"
                                                        },
                                                        "validator_address": {
                                                            "type": "string",
                                                            "example": "auravaloper123123123"
                                                        },
                                                        "entries": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "creation_height": {
                                                                        "type": "string",
                                                                        "example": "100000"
                                                                    },
                                                                    "completion_time": {
                                                                        "type": "string",
                                                                        "example": "2022-09-13T09:23:12.018Z"
                                                                    },
                                                                    "initial_balance": {
                                                                        "type": "string",
                                                                        "example": "100000000"
                                                                    },
                                                                    "balance": {
                                                                        "type": "string",
                                                                        "example": "100000000"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "ValidationError"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Parameters validation error!"
                                        },
                                        "code": {
                                            "type": "number",
                                            "example": 422
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "example": "required"
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "example": "The 'chainid' field is required."
                                                    },
                                                    "field": {
                                                        "type": "string",
                                                        "example": "chainid"
                                                    },
                                                    "nodeID": {
                                                        "type": "string",
                                                        "example": "node1"
                                                    },
                                                    "action": {
                                                        "type": "string",
                                                        "example": "v1.account-info"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/asset/index": {
            "post": {
                "tags": [
                    "Asset"
                ],
                "summary": "Register asset CW20, CW721, CW4973 with the code id and contract type",
                "description": "Register asset CW20, CW721, CW4973 with the code id and contract type",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "codeId": {
                                        "type": "number",
                                        "description": "Code id of stored contract"
                                    },
                                    "contractType": {
                                        "type": "string",
                                        "enum": [
                                            "CW721",
                                            "CW20",
                                            "CW4973"
                                        ],
                                        "description": "Type of contract want to register"
                                    },
                                    "chainId": {
                                        "type": "string",
                                        "example": "euphoria-1",
                                        "description": "Chain Id of network"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Register asset result",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "registed": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "ValidationError"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Parameters validation error!"
                                        },
                                        "code": {
                                            "type": "number",
                                            "example": 422
                                        },
                                        "type": {
                                            "type": "string",
                                            "example": "VALIDATION_ERROR"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "example": "required"
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "example": "The 'chainid' field is required."
                                                    },
                                                    "field": {
                                                        "type": "string",
                                                        "example": "chainid"
                                                    },
                                                    "nodeID": {
                                                        "type": "string",
                                                        "example": "node1"
                                                    },
                                                    "action": {
                                                        "type": "string",
                                                        "example": "v1"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/asset/getByOwner": {
            "get": {
                "tags": [
                    "Asset"
                ],
                "summary": "Get asset CW20, CW721, CW4973 by owner",
                "description": "Get asset CW20, CW721, CW4973 by owner",
                "parameters": [
                    {
                        "in": "query",
                        "name": "owner",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Owner address need to query"
                    },
                    {
                        "in": "query",
                        "name": "chainid",
                        "required": false,
                        "schema": {
                            "enum": [
                                "euphoria-1",
                                "osmosis-1",
                                "cosmoshub-4"
                            ],
                            "type": "string"
                        },
                        "description": "Chain Id of network need to query(if null it will return asset on all chainid)"
                    },
                    {
                        "in": "query",
                        "name": "contractType",
                        "required": true,
                        "schema": {
                            "enum": [
                                "CW20",
                                "CW721",
                                "CW4973"
                            ],
                            "type": "string",
                            "default": "CW20"
                        },
                        "description": "Type asset need to query"
                    },
                    {
                        "in": "query",
                        "name": "tokenName",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Token name need to query"
                    },
                    {
                        "in": "query",
                        "name": "tokenId",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Token id need to query"
                    },
                    {
                        "in": "query",
                        "name": "contractAddress",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Contract address need to query"
                    },
                    {
                        "in": "query",
                        "name": "isBurned",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        },
                        "description": "get token which is burned"
                    },
                    {
                        "in": "query",
                        "name": "countTotal",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": "false"
                        },
                        "description": "count total record"
                    },
                    {
                        "in": "query",
                        "name": "pageLimit",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "default": 10
                        },
                        "description": "number record return in a page"
                    },
                    {
                        "in": "query",
                        "name": "pageOffset",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "default": 0
                        },
                        "description": "Page number, start at 0"
                    },
                    {
                        "in": "query",
                        "name": "nextKey",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "key for next page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List asset",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "number",
                                            "example": 200
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Successful"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "assets": {
                                                    "type": "object",
                                                    "properties": {
                                                        "CW721": {
                                                            "type": "object",
                                                            "properties": {
                                                                "asset": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "asset_info": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "data": {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                            "access": {
                                                                                                "type": "object",
                                                                                                "properties": {
                                                                                                    "approvals": {
                                                                                                        "type": "array",
                                                                                                        "items": {
                                                                                                            "type": "object"
                                                                                                        }
                                                                                                    },
                                                                                                    "owner": {
                                                                                                        "type": "string",
                                                                                                        "example": "aura123"
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "info": {
                                                                                                "type": "object",
                                                                                                "properties": {
                                                                                                    "token_uri": {
                                                                                                        "type": "string"
                                                                                                    },
                                                                                                    "extension": {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                            "image": {
                                                                                                                "type": "string"
                                                                                                            },
                                                                                                            "image_data": {
[...]
